@charset "UTF-8";
/* To-do list ----------------------------
Loader
Animations
Remplacer texte dans html
*/
/* ---------------------------- Variables ---------------------------- */
/* ---------------------------- Mixins ---------------------------- */
/* ---------------------------- Global ---------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, input, button, optgroup, select, textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.8;
  margin: 0;
}

h1, h2, h4 {
  font-family: 'Shrikhand', sans-serif;
}

.container {
  overflow-anchor: none;
}

#fonctionnement, #restaurants, footer {
  padding: 1em 1em;
}

.corps, #restaurants {
  background-color: #F6F6F6;
}

.title, .title__section {
  font-family: inherit;
}

.btn {
  border: none;
  border-radius: 30px;
  padding: 0.5em 0;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0 0.2em 0.5em grey;
          box-shadow: 0 0.2em 0.5em grey;
  margin: 1em auto;
  cursor: pointer;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

.btn::after {
  content: "";
  display: block;
  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.btn:hover {
  background: #fface8;
  -webkit-box-shadow: 0 0.2em 1em 3px grey;
          box-shadow: 0 0.2em 1em 3px grey;
}

.btn:hover::after {
  opacity: 1;
}

ul {
  list-style: none;
  padding: unset;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

/*input:after{
	content:"\f3c5";
	font-family: "Font Awesome 5 Free";
}*/
/* ---------------------------- Header ---------------------------- */
.logo {
  margin: 1em 0;
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo i {
  position: absolute;
  left: 1em;
}

.logo img {
  width: 60%;
}

/* ---------------------------- Réservation ---------------------------- */
#explorer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recherche {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.recherche label {
  position: absolute;
  left: -999px;
}

.recherche__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 3em;
  background-color: #F6F6F6;
  -webkit-box-shadow: 0 0.2em 0.5em grey inset;
          box-shadow: 0 0.2em 0.5em grey inset;
}

.recherche__form i {
  color: grey;
  padding-bottom: 3px;
}

#site-search {
  border: none;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
}

.corps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0 2em 0;
}

.title, .subtitle {
  text-align: center;
  line-height: 1em;
  width: 80%;
}

.corps .btn {
  width: 13em;
}

/* ---------------------------- Fonctionnement ---------------------------- */
.section__method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F6F6F6;
  border-radius: 1em;
  margin: 1em 0;
  -webkit-box-shadow: 0 0.2em 0.5em grey;
          box-shadow: 0 0.2em 0.5em grey;
}

.section__method span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  position: relative;
  left: -0.625em;
  margin-top: 1em;
  padding-top: 3px;
}

.section__method i {
  margin-top: 1.3em;
  color: grey;
}

.section__method p {
  font-weight: bold;
  margin-left: 1em;
}

.section__method:hover {
  background-color: #e4d5f6;
}

.section__method:hover i {
  color: #9356DC;
}

/* ---------------------------- Restaurants ---------------------------- */
.card {
  border-radius: 1em;
  background-color: white;
  margin: 1em 0;
  position: relative;
}

.card a {
  display: block;
}

.card img {
  width: 100%;
  height: 10em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.card-body {
  padding: 0 1em 0.5em 1em;
}

.card h3, .card p {
  margin: 0;
}

.card .fas {
  color: #9356DC;
  visibility: hidden;
}

.card .fas:hover {
  visibility: unset;
}

.card i {
  font-size: 1.5em;
  position: absolute;
  right: 1em;
  bottom: 1em;
}

.new {
  border-radius: 0.15em;
  background-color: #99E2D0;
  color: #008766;
  color: #1e6856 #7cffdf;
  padding: 0 0.8em;
  font-weight: bold;
  position: absolute;
  right: 1em;
  top: 1em;
}

/* ---------------------------- Menus ---------------------------- */
.cover {
  display: block;
  position: relative;
  z-index: 0;
}

.cover img {
  width: 100%;
  max-height: 18em;
}

.menu {
  background-color: #F6F6F6;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  padding: 0 1em 2em 1em;
  z-index: 1;
  width: 100%;
  position: relative;
  bottom: 4em;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__title .fas {
  color: #9356DC;
  visibility: hidden;
}

.menu__title .fas:hover {
  visibility: unset;
}

.menu__title i {
  font-size: 2em;
  position: absolute;
  right: 1em;
  top: 1em;
}

#carte fieldset {
  border: none;
  margin: unset;
  padding: unset;
}

#carte fieldset legend {
  text-transform: uppercase;
}

#carte fieldset legend:after {
  content: "";
  border-bottom: 3px solid #99E2D0;
  width: 50%;
  display: block;
}

#carte fieldset .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 1em;
  -webkit-box-shadow: 0 0.2em 0.5em grey;
          box-shadow: 0 0.2em 0.5em grey;
  /*cursor: pointer; ne marche pas bien*/
}

#carte fieldset .card input {
  display: none;
}

#carte fieldset .card__meal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#carte fieldset .card__meal label {
  font-weight: bold;
}

#carte fieldset .card__meal label ~ label {
  font-weight: unset;
}

#carte fieldset .card__check i {
  color: white;
  background-color: #99E2D0;
  padding: 1em 1.5em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

#carte fieldset .card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#carte fieldset .card__price label {
  font-weight: bold;
}

#carte .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#carte .button .btn {
  width: 10em;
}

/* ---------------------------- Footer ---------------------------- */
footer {
  background-color: #353535;
}

footer a {
  color: white;
}

footer a:hover {
  color: #9356DC;
}

footer .fas {
  margin-right: 1em;
}

footer .fa-hands-helping {
  font-size: 0.8em;
  /* bonne méthode??? */
}

.title__footer {
  font-size: 1em;
  font-weight: unset;
}

/* ---------------------------- Tablettes ---------------------------- */
@media screen and (min-width: 768px) {
  .logo img {
    width: 40%;
  }
  #index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #fonctionnement > div {
    width: 40%;
  }
  #restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #restaurants > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #restaurants > div .card {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .logo i {
    left: 3em;
  }
  .menu__title {
    padding: 0 2em;
  }
  .menu__title i {
    right: 2em;
  }
  #carte fieldset legend {
    text-align: center;
  }
  #carte fieldset legend::after {
    width: 100%;
  }
  #carte fieldset .card {
    margin-left: 2em;
    margin-right: 2em;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

/* ---------------------------- Desktop ---------------------------- */
@media screen and (min-width: 992px) {
  .container {
    max-width: 1400px;
    margin: auto;
  }
  .logo img {
    width: 20%;
  }
  .menu__title {
    padding: unset;
  }
  .menu__title i {
    right: 1em;
  }
  #fonctionnement > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  #fonctionnement > div .section__method {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
  }
  .card img {
    height: 14em;
  }
  .logo i {
    left: 9em;
  }
  #carte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #carte fieldset {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }
  #carte fieldset legend {
    text-align: unset;
  }
  #carte fieldset legend::after {
    width: 50%;
  }
  #carte fieldset + fieldset {
    margin-left: 1em;
  }
  #carte fieldset .card {
    margin-left: unset;
    margin-right: unset;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer nav ul li {
    margin: 0 1em;
  }
}
/*# sourceMappingURL=style.css.map */