/* To-do list ----------------------------

*/

/* ---------------------------- Variables ---------------------------- */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F6F6F6;

/* ---------------------------- Global ---------------------------- */
*{
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body, input, button, optgroup, select, textarea{
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1.8;
	margin: 0;
}

h1, h2, h4{
	font-family: 'Shrikhand', sans-serif;
}

.container{
	overflow-anchor: none;
}

#fonctionnement, #restaurants, footer{
	padding: 1em 1em;
}

.corps, #restaurants{
	background-color: $color-background;
}

.title, .title__section{
	font-family: inherit;
}

.btn{
	border: none;
	border-radius: 30px;
	padding: 0.5em 0;
	color: white;
	background: linear-gradient($color-secondary, $color-primary);
	margin: 1em auto;
	cursor: pointer;
}

ul{
	list-style: none;
	padding: unset;
}

a{
	color: unset; /* à voir plus tard */
	text-decoration: none;
}

img{
	object-fit: cover;
}

/* ---------------------------- Header ---------------------------- */

.logo{
	margin: 1em 0;
	& a{
		display: flex;
		justify-content: center;
	}
	& img{
		width: 60%;
	}
}

/* ---------------------------- Réservation ---------------------------- */

#explorer{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.recherche{
	flex-basis: 100%;
	& label{
		position:absolute; left:-999px
	}
	&__form{
		display: flex;
		align-items: center;
		position: relative;
		& i{
			color: grey;
			z-index: 99;
			position: absolute; left: 5em;
		}
	}
}

#site-search{
	width: 100%;
	background-color: $color-background;
	border: none;
	padding: 1em;
	text-align: center;
	font-weight: bold;
	box-shadow: 0 0.2em 0.5em grey inset; /* ombre à droite??? */
}

.corps{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 0 2em 0;
}

.title, .subtitle{
	text-align: center;
	line-height: 1em;
	width: 80%
}

.corps .btn{
    width: 13em
}

/* ---------------------------- Fonctionnement ---------------------------- */

#fonctionnement{

}

.section__method{
	display: flex;
	flex-wrap: wrap;
	background-color: $color-background;
	border-radius: 1em;
	margin: 1em 0;
	box-shadow: 0 0.2em 0.5em grey;
		& span{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 1.875em;
		height: 1.875em;
		border-radius: 50%;
		background-color: $color-primary;
		color: white;
		position: relative;
		left: -0.625em;
		margin-top: 1em;
		}
		& i{
			margin-top: 1.3em;
			color: grey;
		}
		& p{
			font-weight: bold;
			margin-left: 1em;
		}
}

/* ---------------------------- Restaurants ---------------------------- */

#restaurants{

}

.card{
	border-radius: 1em;
	background-color: white;
	margin: 1em 0;
	position: relative;
	& a{
		display: block;
	}
	& img{
		width: 100%;
		height: 10em;
		border-top-left-radius: 1em;
		border-top-right-radius: 1em;
	}
	&-body{
		padding: 0 1em 0.5em 1em;
	}
	& h3,& p{
		  margin: 0;
	  }
	& .fas{
		color: $color-primary;
		visibility: hidden;
		&:hover{
			visibility: unset;
		}
	}
	& i{
		font-size: 1.5em;
		position: absolute; right: 1em; bottom: 1em;
	}
}

.new{
	border-radius: 0.15em;
	background-color: #99e2d0;
	color: #008766;
	padding: 0 0.8em;
	font-weight: bold;
	position: absolute; right: 1em; top: 1em;
}

/* ---------------------------- Footer ---------------------------- */

footer{
	background-color: #353535;
	& a{
		color: white;
	}
	& .fas{
		margin-right: 1em;
	}
	& .fa-hands-helping{
		font-size:0.8em; /* bonne méthode??? */
	}
}

.title__footer{
	font-size: 1em;
	font-weight: unset;
}

/* ---------------------------- Tablettes ---------------------------- */

@media screen and (min-width:768px){

}

/* ---------------------------- Desktop ---------------------------- */

@media screen and (min-width:992px){
	
}